.global-navbar {
    position: absolute;
    width: 100%;
    background-color: #2b2b5b;;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
}

.user-elements{
    font-size: 25px;
    margin-top: 25px;
    padding-right: 40px;
}

.user-elements>*{
    padding-left: 40px;
}

.company-name{
    margin-left: 40px;
    font-size: 25px;
    color: white;
}

.link{
    color: white;
}

