.productlist-navbar{
    position: absolute;
    width: 100%;
    background-color: #2b2b5b;;
    top: 0;
    right: 0;
    justify-content: space-between;
}

.productlist-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.productlist-text>* {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}

.logout{
    padding-left: 40px;
}

.product-container {
    padding-top: 30px;
    margin: auto;
    margin-top: 100px;
}

.product {
    display: flex;
    width: 800px;
    margin: auto;
    padding: 20px;
}

.product-name{
    font-size: 20px;
    font-weight: 800;
}

.product-details{
    padding-left: 40px;
}

.productlist-button{
  margin: 20px;
  background-color: #16557d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 12px;
}

