.navbar{
    position: absolute;
    width: 100%;
    background-color: #07b357;
    padding-top: 40px;
    padding-bottom: 40px;
    top:0;
    right: 0;

}

.text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.text>* {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.logout{
    padding-left: 40px;
}

.product-container {
    padding-top: 30px;
    margin: auto;
}

.product {
    display: flex;
    width: 800px;
    margin: auto;
    padding: 20px;
}

.product-name{
    font-size: 20px;
    font-weight: 800;
}

.product-details{
    padding-left: 40px;
}